<div class="row marketing">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label>Voltages:</label>
      <canvas id="bar" class="chart chart-bar" 
      options="{barValueSpacing:1, barStrokeWidth:2, scaleIntegersOnly:false, animationSteps:10}"
      data="voltages" labels="voltageLabels"></canvas>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <label>Voltages:</label>
          <label>{{voltages}}</label>
        </div>
      </div>

    </div>
  </div>
</div>
